{% use "bootstrap_4_layout.html.twig" %}

{% extends 'base-back/admin.html.twig' %}

{% block body %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Modifier Commande</h3>
              </div>
              <!-- /.card-header -->
              


              <!-- form start -->
        
                {{ form_start(formA,{'attr': {'novalidate': 'novalidate'}} ) }}

                <div class="card-body">
                  <div class="form-group">
                    <label for="exampleInputEmail1">id Commande</label>
                     {{ form_widget(formA.idCommande, {attr: { readonly:true }}) }} 
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Subject</label>
                   {{ form_widget(formA.subject, {attr: { readonly:true }}) }} 
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Reponse </label>
                    {{ form_widget(formA.message) }}
                    {{ form_errors(formA.message) }}
                  </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                {{ form_widget(formA.update,{'attr':{ "class":"btn btn-danger " }}) }}

                </div>
             {{ form_end(formA) }}
              
            </div>
            <!-- /.card -->

          

          </div>

        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}