{% extends 'base2.html.twig' %}
         {% block body %}


        <center>   <h1>la liste des  mes reservations</h1></center>

             <table   border="1" class="table table-hover">
                 <thead>
                 <tr>

                     <th>Quantité</th>
                     <th>date de reservation</th>

                 </tr>
                 </thead>
                 <tbody>
                 {% for i in reservations %}
                     <tr>

                         <td>
                             {{ i.Quantity }}
                         </td>

                         <td>
                             {{ i.datereser|date }}
                         </td>


                         <td><a href="{{ path('modReservation',{'idreser': i.idreser }) }}">
                                 <button type="button" class="btn "><font size="3pt">{% trans %}Update{% endtrans %}</font></button></a></td>
                         <td><a href="{{ path('supReservation',{'idreser': i.idreser}) }}">
                                 <button type="button" class="btn "><font size="3pt">{% trans %}delete{% endtrans %}</font></button></a></td>
                         <td><a href="{{ path('ComfirmationReservation',{'id': i.idreser}) }}">
                         <button type="button" class="btn"><font size="3pt">{% trans %}Confirm Par email{% endtrans %}</font></button></a></td>
                         <td><a href="{{ path('Lister',{'id':i.idreser}) }}"> <button type="button" class="btn " ><font size="3pt" >{% trans %}imprimer{% endtrans %}</font></button></a></td>
                     </tr>

                 {%endfor%}
                 </tbody>
             </table>

             <form role="search" id="nav-search-form" method="post" action="{{ path('trireservationparid') }}">


                 <div class="btn-toolbar" role="toolbar" aria-label="Programmatic control">
                     <div class="btn-group btn-group-sm" aria-label="Set Select2 option">
                         <button class="js-programmatic-set-val btn btn-outline-primary mr-1 mb-1">
                             Sort by Quantité
                         </button>
                     </div>

              </form>
             </div>
         {% endblock %}
