<html>


<body>

<table width="100%" style="font-family: sans-serif;" cellpadding="10">
    <tr>
        <td width="100%" style="padding: 0px; text-align: center;">
            <img src="assets/img/logo/LOGO1.png" width="264" height="110" alt="Logo" align="center" border="0">
        </td>
    </tr>
    <tr>
        <td width="100%" style="text-align: center; font-size: 20px; font-weight: bold; padding: 0px;">
            RESERVATION
        </td>
    </tr>
    <tr>
        <td height="10" style="font-size: 0px; line-height: 10px; height: 10px; padding: 0px;">&nbsp;</td>
    </tr>
</table>

<table width="100%" style="font-family: sans-serif;" cellpadding="10">

    <tr>
        <td width="49%" style="border: 0.1mm solid #eee;">{{ nom }}<br>Gogym<br>Tunis<br>Ariana<br>2083<br>Touness</td>
        <td width="2%">&nbsp;</td>
        <td width="49%" style="border: 0.1mm solid #eee; text-align: right;"><strong>Gogym</strong><br>00-00 ABC Aare<br>Country Name<br>123 456<br><br><strong>Telephone:</strong> +00 000 000 0000<br><br><a href="#" target="_blank" style="color: #000; text-decoration: none;">Gogym.com</a></a><br></td>
    </tr>
</table>
<br>
<table width="100%" style="font-family: sans-serif; font-size: 14px;" >
    <tr>
        <td>
            <table width="60%" align="left" style="font-family: sans-serif; font-size: 14px;" >
                <tr>
                    <td style="padding: 0px; line-height: 20px;">&nbsp;</td>
                </tr>
            </table>
            <table width="40%" align="right" style="font-family: sans-serif; font-size: 14px;" >
                <tr>
                    <td style="border: 1px #eee solid; padding: 0px 8px; line-height: 20px;"><strong>votre réservation de  quantité</strong></td>
                    <td style="border: 1px #eee solid; padding: 0px 8px; line-height: 20px;"> {{ qt}}</td>
                </tr>

                <tr>
                    <td style="border: 1px #eee solid; padding: 0px 8px; line-height: 20px;"><strong>Date Reservation</strong></td>
                    <td style="border: 1px #eee solid; padding: 0px 8px; line-height: 20px;">a été confirmé pour le {{ dt |date}}</td>
                </tr>

            </table>
        </td>
    </tr>
</table>
<br>
<table class="items" width="100%" style="font-size: 14px; border-collapse: collapse;" cellpadding="8">
    <thead>

    </thead>
    <tbody>
    <!-- ITEMS HERE -->

    <tr>
        <td style="padding: 0px 7px; line-height: 20px;">
            <br>
        </td>
        <td style="padding: 0px 7px; line-height: 20px;">
            <br>
        </td>
        <td style="padding: 0px 7px; line-height: 20px;">
            <br>
        </td>
        <td style="padding: 0px 7px; line-height: 20px;">
            <br>
        </td>
    </tr>


    </tbody>
</table>
<br>
<table width="100%" style="font-family: sans-serif; font-size: 14px;" >
    <tr>
        <td>
            <table width="60%" align="left" style="font-family: sans-serif; font-size: 14px;" >
                <tr>
                    <td style="padding: 0px; line-height: 20px;">&nbsp;</td>
                </tr>
            </table>
            <table width="40%" align="right" style="font-family: sans-serif; font-size: 14px;" >
                <tr>
                    <td style="border: 1px #eee solid; padding: 0px 8px; line-height: 20px;"><strong> Evenement   </strong></td>
                    <td style="border: 1px #eee solid; padding: 0px 8px; line-height: 20px;">{{ titre }}</td>
                </tr>
                <tr> reserver pour la ticket : </strong></td>
                    <td style="border: 1px #eee solid; padding: 0px 8px; line-height: 20px;"><strong> Type   </strong></td>
                    <td style="border: 1px #eee solid; padding: 0px 8px; line-height: 20px;">Vip</td>
                </tr>
                <tr>
                    <td style="border: 1px #eee solid; padding: 0px 8px; line-height: 20px;"><strong>PRIX</strong></td>
                    <td style="border: 1px #eee solid; padding: 0px 8px; line-height: 20px;">{{prix}}</td>
                </tr>

            </table>
        </td>
    </tr>
</table>
<br>
<table width="100%" style="font-family: sans-serif; font-size: 14px;" >
    <br>
    <tr>
        <td>
            <table width="25%" align="left" style="font-family: sans-serif; font-size: 14px;" >

            </table>
            <table width="50%" align="left" style="font-family: sans-serif; font-size: 13px; text-align: center;" >
                <tr>
                    <td style="padding: 0px; line-height: 20px;">
                        <strong>Company Name</strong>
                        <br>
                        ABC AREA
                        <br>
                        Tel: +00 000 000 0000 | Email: info@Gogym.com
                        <br>
                        Company Registered in Country Name. Company Reg. 12121212.
                        <br>
                        VAT Registration No. 021021021 | ATOL No. 1234
                    </td>
                </tr>
            </table>
            <table width="25%" align="right" style="font-family: sans-serif; font-size: 14px;" >
                <tr>
                    <td style="padding: 0px; line-height: 20px;">
                        <img src="assets/qrcode.png" alt="abtot" width="120" height="100" align="center" border="0">
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <br>
</table>
</body>

</html>