{% extends "base.html.twig" %}
{%block body%}
<!doctype html>
<html class="no-js" lang="zxx">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Gym trainer | Template
		</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="manifest" href="site.webmanifest">
		<link
		rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

		<!-- CSS here -->
		<link rel="stylesheet" href="assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="assets/css/owl.carousel.min.css">
		<link rel="stylesheet" href="assets/css/slicknav.css">
		<link rel="stylesheet" href="assets/css/flaticon.css">
		<link rel="stylesheet" href="assets/css/gijgo.css">
		<link rel="stylesheet" href="assets/css/animate.min.css">
		<link rel="stylesheet" href="assets/css/animated-headline.css">
		<link rel="stylesheet" href="assets/css/magnific-popup.css">
		<link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
		<link rel="stylesheet" href="assets/css/themify-icons.css">
		<link rel="stylesheet" href="assets/css/slick.css">
		<link rel="stylesheet" href="assets/css/nice-select.css">
		<link rel="stylesheet" href="assets/css/style.css">
	</head>
	<body
		class="black-bg">
		<!-- ? Preloader Start -->
		<div id="preloader-active">
			<div class="preloader d-flex align-items-center justify-content-center">
				<div class="preloader-inner position-relative">
					<div class="preloader-circle"></div>
					<div class="preloader-img pere-text">
						<img src="assets/img/logo/LOGO1.png" alt="">
					</div>
				</div>
			</div>
		</div>
		<!-- Preloader Start -->
		<header>
			<!-- Header Start -->
			<div class="header-area header-transparent">
				<div class="main-header header-sticky">
					<div class="container-fluid">
						<div
							class="menu-wrapper d-flex align-items-center justify-content-between">
							<!-- Logo -->
							<div class="logo">
								<a href="index.html"><img src="assets/img/logo/logo.png" alt=""></a>
							</div>
							<!-- Main-menu -->
							<div class="main-menu f-right d-none d-lg-block">
								<nav>
									<ul id="navigation">
										<li>
											<a href="{{ path('produit') }}">Home</a>
										</li>
										<li>
											<a href="{{ path('about') }}">About</a>
										</li>
										<li>
											<a href="{{ path('course') }}">Courses</a>
										</li>
										<li>
											<a href="pricing.html">Pricing</a>
										</li>
										<li>
											<a href="{{ path('event') }}">Event</a>
										</li>
										<li>
											<a href="{{ path('contact') }}">Contact</a>
										</li>
										<li>
											<a href="{{ path('shop') }}">Shop</a>
										</li>
										<li>
											<a href="">
												<i class="bi-cart-fill me-1"></i>
											</nav>
										</li>
									</div>
									<!-- Header-btn -->
									<div class="header-btns d-none d-lg-block f-right">
										<a href="login.html" class="btn">LOGIN</a>
									</div>
									<div class="header-btns d-none d-lg-block f-right">
										<a href="register.html" class="btn">SIGN UP</a>
									</div>
									<!-- Mobile Menu -->
									<div class="col-12">
										<div class="mobile_menu d-block d-lg-none"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Header End -->
				</header>
				<main>
					<!--? Hero Start -->
					<div class="slider-area2">
						<div class="slider-height2 d-flex align-items-center">
							<div class="container">
								<div class="row">
									<div class="col-xl-12">
										<div class="hero-cap hero-cap2 pt-70">
											<h2>Pricing</h2>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Hero End -->
					<!-- Courses area start -->
					<section class="pricing-area section-padding30 fix">
						<div class="container">
							<div class="row">
								<div class="col-xl-12">
									<div class="section-tittle text-center mb-55">
										<h2>Pricing</h2>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-4 col-md-6 col-sm-6">
									<div class="properties mb-30">
										<div class="properties__card">
											<div class="about-icon">
												<img src="assets/img/icon/price.svg" alt="">
											</div>
											<div class="properties__caption">
												<span class="month">3 month</span>
												<p class="mb-25">300TND
													<span>(Single class)</span>
												</p>
												<div class="single-features">
													<div class="features-icon">
														<img src="assets/img/icon/check.svg" alt="">
													</div>
													<div class="features-caption">
														<p>Free riding
														</p>
													</div>
												</div>
												<div class="single-features">
													<div class="features-icon">
														<img src="assets/img/icon/check.svg" alt="">
													</div>
													<div class="features-caption">
														<p>Unlimited equipments</p>
													</div>
												</div>
												<div class="single-features">
													<div class="features-icon">
														<img src="assets/img/icon/check.svg" alt="">
													</div>
													<div class="features-caption">
														<p>Personal trainer</p>
													</div>
												</div>
												<div class="single-features">
													<div class="features-icon">
														<img src="assets/img/icon/check.svg" alt="">
													</div>
													<div class="features-caption">
														<p>Weight losing classes</p>
													</div>
												</div>
												<div class="single-features mb-20">
													<div class="features-icon">
														<img src="assets/img/icon/check.svg" alt="">
													</div>
													<div class="features-caption">
														<p>Month to mouth</p>
													</div>
												</div>
												<a href="register.html" class="border-btn border-btn2">Join Now</a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-6 col-sm-6">
									<div class="properties mb-30">
										<div class="properties__card">
											<div class="about-icon">
												<img src="assets/img/icon/price.svg" alt="">
											</div>
											<div class="properties__caption">
												<span class="month">6 month</span>
												<p class="mb-25">600TND
													<span>(Single class)</span>
												</p>
												<div class="single-features">
													<div class="features-icon">
														<img src="assets/img/icon/check.svg" alt="">
													</div>
													<div class="features-caption">
														<p>Free riding
														</p>
													</div>
												</div>
												<div class="single-features">
													<div class="features-icon">
														<img src="assets/img/icon/check.svg" alt="">
													</div>
													<div class="features-caption">
														<p>Unlimited equipments</p>
													</div>
												</div>
												<div class="single-features">
													<div class="features-icon">
														<img src="assets/img/icon/check.svg" alt="">
													</div>
													<div class="features-caption">
														<p>Personal trainer</p>
													</div>
												</div>
												<div class="single-features">
													<div class="features-icon">
														<img src="assets/img/icon/check.svg" alt="">
													</div>
													<div class="features-caption">
														<p>Weight losing classes</p>
													</div>
												</div>
												<div class="single-features mb-20">
													<div class="features-icon">
														<img src="assets/img/icon/check.svg" alt="">
													</div>
													<div class="features-caption">
														<p>Month to mouth</p>
													</div>
												</div>
												<a href="register.html" class="border-btn border-btn2">Join Now</a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-6 col-sm-6">
									<div class="properties mb-30">
										<div class="properties__card">
											<div class="about-icon">
												<img src="assets/img/icon/price.svg" alt="">
											</div>
											<div class="properties__caption">
												<span class="month">1 year</span>
												<p class="mb-25">900TND
													<span>(Single class)</span>
												</p>
												<div class="single-features">
													<div class="features-icon">
														<img src="assets/img/icon/check.svg" alt="">
													</div>
													<div class="features-caption">
														<p>Free riding
														</p>
													</div>
												</div>
												<div class="single-features">
													<div class="features-icon">
														<img src="assets/img/icon/check.svg" alt="">
													</div>
													<div class="features-caption">
														<p>Unlimited equipments</p>
													</div>
												</div>
												<div class="single-features">
													<div class="features-icon">
														<img src="assets/img/icon/check.svg" alt="">
													</div>
													<div class="features-caption">
														<p>Personal trainer</p>
													</div>
												</div>
												<div class="single-features">
													<div class="features-icon">
														<img src="assets/img/icon/check.svg" alt="">
													</div>
													<div class="features-caption">
														<p>Weight losing classes</p>
													</div>
												</div>
												<div class="single-features mb-20">
													<div class="features-icon">
														<img src="assets/img/icon/check.svg" alt="">
													</div>
													<div class="features-caption">
														<p>Month to mouth</p>
													</div>
												</div>
												<a href="register.html" class="" border-btn border-btn2">Join Now</a>
												{%endblock%}
