{% extends "basesh.html.twig" %}



{% block body %}
			<!-- Section-->
			<section class="py-5">
				<div class="container px-4 px-lg-5 mt-5">
					<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
						{% for item in form %}
							<div class="col mb-5">
								<a href="{{ path('list-item', {id: item.idproduit}) }}">
									<div
										class="card h-100">
										<!-- Product image-->
										<img
										class="card-img-top" src="{{asset('uploads/') ~ item.image}}" alt="..."/>
										
										<!-- Product details-->
										<div class="card-body p-4">
											<div
												class="text-center">
												<!-- Product name-->
												<h5 class="fw-bolder">{{item.nomprod}}</h5>
												<p class="card-text">{{item.description}}</p>
												<!-- Product price-->
												<h6>{{item.Prix}} </h6>
											</div>
										</div>
										<!-- Product actions-->
										<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
											<div class="text-center">
												<a class="btn btn-outline-dark mt-auto" href="#">View options</a>
											</div>
										</div>
									</div>
								</a>
							</div>
						{% endfor %}
					</div>
				</div>
			</section>
		{% endblock %}
			
			
			
