{% use "bootstrap_4_layout.html.twig" %}

{% extends 'base-back/admin.html.twig' %}
{% block body %}
    <h1>Liste de categories </h1>

    <button class="button" ><a href="{{ path('category_new')  }}"> Add</a></button>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.nom }}</td>
                <td>
                    {# <a href="{{ path('category_show', {'id': category.id}) }}">show</a> #}
                    <a href="{{ path('category_edit', {'id': category.id}) }}">edit</a>
                    <a href="{{ path('category_delete', {'id': category.id}) }}">delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}

